{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
<body id="home-page">
    <div class="logo-bar container">
        <img src="{% static 'images/AI4U Logo-01.png' %}" alt="AI4U Logo" class="main-logo">
    </div>
    <div class="main-content container">
        <div class="welcome-section">
            <div class="summary-section">
                <span class="summary-typing-text" data-summary="{{ summary_text|escapejs }}"></span>
            </div>
        </div>
    </div>
</body>
{% endblock %}
