{% extends 'chat/base.html' %}
{% load static %}

{% block content %}
<div class="container main-content">
    <div class="room-controls">
        <a href="{% url 'chat:create_chat_room' %}" class="btn btn-primary">Create New Chat Room</a>
    </div>
    <div class="room-list">
        {% for room in rooms %}
            <div class="room-item">
                <a href="{% url 'chat:chat_room' room.id %}">{{ room.name }}</a>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}